# LLM
GROQ_API_KEY=
ALTAIR_GROQ_LARGE_MODEL=llama-3.3-70b-versatile
ALTAIR_GROQ_SMALL_MODEL=

# Paths
ALTAIR_WWEBJS_DIR=
ALTAIR_CHROME_PROFILE_DIR=
ALTAIR_DATA_DIR=

# Remote API
ALTAIR_REMOTE_TOKEN=
ALTAIR_REMOTE_TOKEN_FILE=configs/remote_api_token.txt
