groq_api_key.txt
remote_api_token.txt
.venv/
.wwebjs_auth/
.wwebjs_cache/
__pycache__/
*.pyc
.pytest_cache/
node_modules/
dist/
build/
audios_temp/
chrome_profile/
perfil_whatsapp/
nova_sessao_whatsapp/
altair_session/
puppeteer_data/
*.log
data/json/
data/memoria_arquivos.json
configs/groq_api_key.txt
configs/remote_api_token.txt
configs/apps.json
json/voice_config.json
data/json/voice_config.json
.env

# Modelos e pesos grandes
assets/piper/
data/models/
data/wwebjs_logs/
*.onnx
*.bin
*.safetensors
*.pth
