customtkinter
fastapi
faster-whisper
numpy
matplotlib
pydantic
pypdf
psutil
pygame
pillow
python-docx
qrcode
requests
selenium
sounddevice
undetected-chromedriver
uvicorn
webdriver-manager
cadquery
pyvista
pyvistaqt
